<?xml version="1.0"?>
<model>
    <name>sparkplug_socket</name>
    <version>1.0</version>
    <sdf>sparkplug_socket.urdf</sdf>

    <author>
        <name>Nicholas Palomo</name>
        <email>npalomo@studenet.ethz.ch</email>
    </author>

    <description>
        URDF model of the sparkplug socket.
    </description>
</model>
