<?xml version="1.0"?>
<model>
    <name>Kinect</name>
    <version>1.0</version>
    <sdf>kinect.urdf</sdf>

    <author>
        <name>njpalomo</name>
        <email>npalomo@student.ethz.ch</email>
    </author>

    <description>
        URDF model of the Kinect camera sensor.
    </description>
</model>
